* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent {
  width: 100%;
  background-color: blueviolet;

  /* width: 10px;
  height: 300px;
  border: 1px solid red;
  margin: 5% auto; */
}
/* .child {
  background-color: blue;
  width: 60%;
  height: 100%;
} */
